/*General*/
body {
    margin: 5px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    
}
ul {
    list-style: none;
}
li  {
    text-decoration: none;
    margin-left: 0px;
}
a {
    text-decoration: none;
    color: black;
}
.left-nav li  {
    float:left;
    position: relative;
    padding-top:10px;
    padding-right: 10px;
    margin-bottom: 5px;
    padding-left: 0px;
    text-decoration: none;
    text-align: center;
}
span {
    padding:2px;
}

/*Class*/
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-items: baseline;
}
.left-nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: space-between;
    padding: 1px;
    height: 100px;
}
.nav ul {
    list-style: none;
    padding: 0px;
    margin:0px;

}
.search-icon{
    float:right;
    margin-left:auto;
    
}
.home-header {
    padding: 20px 40px 20px 40px;
    text-align: center;
    box-sizing: border-box;
    height: 300px;

}
.container {
padding:0px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
box-sizing: border-box;
width: auto;


}
.home-header{
    display: inline;
    box-sizing: border-box;

}
.page-section{
    margin:10px 0px;
}

.card-loc{
    box-shadow: 0 0.0625rem 0.125rem rgba(0,0,0,.1);
}
.card-header {
    
    width:40%;
    justify-items: left;
}
.card {
    display: flex;
    flex-direction: column;

}
.card-img{
 max-width: 100%;
 max-height: 100%;
 text-align: center;
 box-sizing: border-box;


}
.card-content {
    text-align:left ;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;

}
.card-item{
    display: flex;
    flex-direction: column;
    border-top:.0625rem solid #e0e0e0;
    align-content:flex-start;
    box-sizing: border-box;

}
.card-img-style {
    width: 800px;
     height: 500px;
}
.newsletter-container {
    display: flex;
}
.newsletter-left-side{
width:300px;
display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}
.card-item-read{
    background-color: #fff;
    border: .0625rem solid #eee;
    border-radius: .5rem;
    overflow: visible;
    padding: 10px;
    width: 100%;
    margin:10px;
    box-shadow: 0 0.0625rem 0.125rem rgba(0,0,0,.1);
}
.left-side-tools-card{
    float: right;
    width: 65%;
    margin-bottom: 1.5rem;
    border: .0625rem solid #eee;
    border-radius: .5rem;
    flex-direction: row;
    padding-top: 0;
}
.tools{
    padding-left: 0px;
}
.tools li{
height: 400px;
}
.btn-container {
    margin-top: 2.5rem;
    text-align: center;
}
.tool-btn {
    background-color: #1a73e8;
    border: 0;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Google Sans,arial,sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    min-width: 10rem;
    padding: 5px;
    text-align: center;
}
.subscribe-btn{
    background-color: #1a73e8;
    border: 0;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Google Sans,arial,sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    min-width: 10rem;
    padding: 5px;
    text-align: center;
   align-items: left;
}
.social-container{
    color: #757575;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .00688rem;
    line-height: 3.75rem;

}
.social-nav{
    display:inline-block;
}
.social-icon{
    float:left;
    padding: 70px 40px 10px 0px;
}
.footer-nav  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Subscribe{
    background-color: #1a73e8;
    border: 0;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Google Sans,arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    min-width: 6.25rem;
    min-height: 3rem;
    padding: .5rem 1rem;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}
/*IDs*/
#header{
   box-shadow: 0 8px 6px -6px #999;

}
#app{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;

}
#logo{
 
}
#corona-img {
    width:98%;
    height: 400px;
    border-radius: 10%;
}



/*Media queries*/
/*0-600*/
@media screen and (max-width:600px) {
    #nav-btn-subs{
        display: none;
    }
    .img-to-hide{
        display: none;
    }
   .span-to-hide-600{
       display: none;
   }
   .img-hide-l600{
       display: none;
   }
   .li-to-hide-l1249 {
    display:none;
}
    
}
/*600-767 px*/
@media screen and (min-width:600px) and (max-width:767px) {
 #nav-btn-subs{
     margin-left:10px;
 }
 .search-img {
    width: 2rem;
    height: 2rem;
}
 #corona-img {
     height: 500px;
 }
 .span-to-hide {
    display: none;
}
.card-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-item{
    width: 45%;
    float: left;
    margin:10px;
    padding: 10px;
}.card-img-style{
    width: 15rem;
    height:  15rem;
}
#app{
    font-size: 1.25rem;
}
.img-hide-m600{
    display: none;
}
.tutorial-1 {
background-image: url("https://storage.googleapis.com/twg-content/images/1745_thumbnail_Primer_WFH.width-1600.jpg");
border-radius: 5%;
}

.tutorial-2{
background-image: url("https://storage.googleapis.com/twg-content/images/1746-gsuite-thumbnail.width-1600.jpg");
border-radius: 5%;
}
.tut{
    height: 500px;
    margin-bottom: 20px;
}
.tut-header {
    position: relative;
    left: 20px;
    top: 370px;
    color: white;
    font-size: 1.5rem;
    text-shadow: rgba(0,0,0,.1);
}
.tut-content{
    position: relative;
    left: 20px;
    top: 380px;
    color: white;
    font-size: 1.3rem;
    text-shadow: rgba(0,0,0,.1);
}
.img-hide-l600{
    background-size:200px;
}
.img-m600px{
    width:17em;
    
}
.li-to-hide-l1249 {
    display:none;
}
}
@media screen and (min-width:768px) and (max-width:1248px) {
 .Feature {
     display: flex;
     flex-direction: row-reverse;
 }
 .card-ul li{
    width: 30%;
    float: left;
    margin:10px;
    padding: 10px;
}
.card-img-style{
    width: 20rem;
    height:  20rem;
}

.span-to-hide-600{
    display: none;
}
.global-insights{
    display:flex;
    flex-direction:row; 
    flex-wrap: wrap;
}
.global-insights:nth-child(1) {
    float:left;
    width:60%;
    
}
.global-insights:nth-child(2){
    float: right;
    
}

.global-insights:nth-child(n+3) {
    float: left;
    display: flex;
    flex-direction: row;
}
.global-insights .card-ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.global-insights .card-ul:nth-child(n){
    float: left;
    width: 30%;
    padding: 5px;
    display: flex;
}

.card-indepth {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.card-indepth::-webkit-scrollbar {
    display: none;
}

.card-indepth li {
    flex: 0 0 auto;
    width:30%;

}
.tools {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.tools::-webkit-scrollbar {
    display: none;
}

.tools li {
    flex: 0 0 auto;
    width:30%;

}
.li-to-hide-l1249 {
    display:none;
}
}
@media screen and (min-width:1249px) {
#burger{
    display: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
}


